.Rproj.user
.Rhistory
.RData
.Ruserdata
MPAMystery.Rproj
x_Flat_data_files/1_Social
x_Flat_data_files/2_Ecological
x_Flat_data_files/R_scripts
x_Flat_data_files/Inputs

## checked this will prevent any data in archive being uploaded
xx_Archive/*/x_Flat_data_files/*

## prevent created files
1_Data_wrangling/1_Social/1_QAQC/metadata_prep.txt
1_Data_wrangling/1_Social/2_Source_data/*.csv
1_Data_wrangling/1_Social/2_Source_data/histograms
1_Data_wrangling/1_Social/2_Source_data/boxplots
1_Data_wrangling/1_Social/4_Data_cleaning/*.csv
1_Data_wrangling/1_Social/3_Calculating_indicators/Settlement_Data.csv
1_Data_wrangling/1_Social/4_Data_cleaning/metadata_prep.txt

ShinyApp/Settlement_Data_updated.csv